# COVID Impact of Global Economy

#### By: Reema Domadia

### Economic Overview

In [28]:
import pandas as pd
Import_Export_data = pd.read_excel('DV_Data_Master.xlsx','Import-Export')
Import_Export_data.head()

,Country,Type,Q1-2005,Q2-2005,Q3-2005,Q4-2005,Q1-2006,Q2-2006,Q3-2006,Q4-2006,...,Q3-2020,Q4-2020,Q1-2021,Q2-2021,Q3-2021,Q4-2021,Q1-2022,Q2-2022,Q3-2022,Q4-2022
0,Australia,Imports,1.595194e+11,1.636152e+11,1.621627e+11,1.679724e+11,1.711204e+11,1.779451e+11,1.754692e+11,1.857488e+11,...,2.607827e+11,2.687249e+11,2.740994e+11,2.790332e+11,2.834977e+11,2.877502e+11,2.919225e+11,2.957175e+11,2.991183e+11,3.019599e+11
1,Austria,Imports,1.377779e+11,1.446685e+11,1.489203e+11,1.523264e+11,1.492364e+11,1.544457e+11,1.560088e+11,1.598599e+11,...,1.980950e+11,1.743236e+11,1.812966e+11,2.063155e+11,2.079660e+11,2.087979e+11,2.092155e+11,2.098431e+11,2.104727e+11,2.113146e+11
2,Canada,Imports,4.096355e+11,4.065820e+11,4.137333e+11,4.234139e+11,4.272190e+11,4.385240e+11,4.378628e+11,4.377277e+11,...,5.076413e+11,5.134838e+11,5.147846e+11,5.163246e+11,5.182210e+11,5.203905e+11,5.229619e+11,5.258934e+11,5.294769e+11,5.326537e+11
3,Chile,Imports,4.010680e+10,4.175263e+10,4.352254e+10,4.477023e+10,4.624778e+10,4.657960e+10,4.761654e+10,4.980250e+10,...,6.801395e+10,7.141465e+10,7.327143e+10,7.492003e+10,7.619367e+10,7.726039e+10,7.818751e+10,7.912576e+10,8.007527e+10,8.103617e+10
4,Colombia,Imports,2.721453e+10,2.879273e+10,2.916409e+10,2.987745e+10,3.119532e+10,3.396430e+10,3.492922e+10,3.530268e+10,...,5.822681e+10,6.193348e+10,6.413571e+10,6.538165e+10,6.649696e+10,6.755216e+10,6.841371e+10,6.928625e+10,7.016993e+10,7.106487e+10

In [29]:
Import_Export_data=Import_Export_data.fillna(0)
Import_Export_data.Country.unique()

array(['Australia', 'Austria', 'Canada', 'Chile', 'Colombia',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel',
       'Italy', 'Japan', 'Korea', 'Lithuania', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Portugal',
       'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'United Kingdom', 'United States', 'Belgium', 'Poland'],
      dtype=object)

In [30]:
print(Import_Export_data.columns)

Index(['Country', 'Type', 'Q1-2005', 'Q2-2005', 'Q3-2005', 'Q4-2005',
       'Q1-2006', 'Q2-2006', 'Q3-2006', 'Q4-2006', 'Q1-2007', 'Q2-2007',
       'Q3-2007', 'Q4-2007', 'Q1-2008', 'Q2-2008', 'Q3-2008', 'Q4-2008',
       'Q1-2009', 'Q2-2009', 'Q3-2009', 'Q4-2009', 'Q1-2010', 'Q2-2010',
       'Q3-2010', 'Q4-2010', 'Q1-2011', 'Q2-2011', 'Q3-2011', 'Q4-2011',
       'Q1-2012', 'Q2-2012', 'Q3-2012', 'Q4-2012', 'Q1-2013', 'Q2-2013',
       'Q3-2013', 'Q4-2013', 'Q1-2014', 'Q2-2014', 'Q3-2014', 'Q4-2014',
       'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015', 'Q1-2016', 'Q2-2016',
       'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017', 'Q3-2017', 'Q4-2017',
       'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018', 'Q1-2019', 'Q2-2019',
       'Q3-2019', 'Q4-2019', 'Q1-2020', 'Q2-2020', 'Q3-2020', 'Q4-2020',
       'Q1-2021', 'Q2-2021', 'Q3-2021', 'Q4-2021', 'Q1-2022', 'Q2-2022',
       'Q3-2022', 'Q4-2022'],
      dtype='object')

In [31]:
Import_Export_data=pd.melt(Import_Export_data, id_vars=['Country', 'Type'], value_vars=['Q1-2005', 'Q2-2005', 'Q3-2005', 'Q4-2005', 'Q1-2006', 'Q2-2006', 'Q3-2006', 'Q4-2006', 'Q1-2007', 'Q2-2007', 'Q3-2007', 'Q4-2007', 'Q1-2008', 'Q2-2008', 'Q3-2008', 'Q4-2008', 'Q1-2009', 'Q2-2009', 'Q3-2009', 'Q4-2009', 'Q1-2010', 'Q2-2010', 'Q3-2010', 'Q4-2010', 'Q1-2011', 'Q2-2011', 'Q3-2011', 'Q4-2011', 'Q1-2012', 'Q2-2012', 'Q3-2012', 'Q4-2012', 'Q1-2013', 'Q2-2013', 'Q3-2013', 'Q4-2013', 'Q1-2014', 'Q2-2014', 'Q3-2014', 'Q4-2014', 'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015', 'Q1-2016', 'Q2-2016', 'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017', 'Q3-2017', 'Q4-2017', 'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018', 'Q1-2019', 'Q2-2019', 'Q3-2019', 'Q4-2019', 'Q1-2020', 'Q2-2020', 'Q3-2020', 'Q4-2020'], var_name='Year/Month', value_name='Quantifier')
Import_Export_data.head()

     Country     Type Year/Month    Quantifier
0  Australia  Imports    Q1-2005  1.595194e+11
1    Austria  Imports    Q1-2005  1.377779e+11
2     Canada  Imports    Q1-2005  4.096355e+11
3      Chile  Imports    Q1-2005  4.010680e+10
4   Colombia  Imports    Q1-2005  2.721453e+10

In [32]:
#GDP
GDP_data = pd.read_excel('DV_Data_Master.xlsx','GDP')
GDP_data=GDP_data.drop(columns = ['Unit'])
GDP_data.head()

,Country,Q1-2005,Q2-2005,Q3-2005,Q4-2005,Q1-2006,Q2-2006,Q3-2006,Q4-2006,Q1-2007,...,Q3-2020,Q4-2020,Q1-2021,Q2-2021,Q3-2021,Q4-2021,Q1-2022,Q2-2022,Q3-2022,Q4-2022
0,Australia,3.278530,1.908269,4.396256,3.474475,0.883733,0.738140,6.127017,5.253334,6.138318,...,2.440936,10.381198,5.819160,4.611535,3.533378,3.093159,2.798707,2.809956,2.800036,2.808183
1,Austria,0.616499,4.221259,3.200415,3.660941,4.216040,1.534973,4.928984,4.238407,3.433931,...,52.423882,-18.296450,-0.403722,15.211120,4.186192,2.448901,0.559177,0.623540,0.998548,1.112829
2,Belgium,2.121679,2.417921,1.591540,3.103635,2.482204,1.427325,3.568457,4.619590,5.791199,...,49.880475,-11.834409,13.283776,7.268621,4.171944,3.006617,1.933819,1.869059,1.743799,1.714287
3,Canada,1.391469,2.933827,4.934258,4.013981,3.283658,0.206746,1.121669,1.603951,2.583159,...,47.045818,6.302576,0.813002,0.944545,1.197439,1.531831,1.899707,2.381243,2.921327,3.695872
4,Chile,-0.152484,6.647915,9.634878,5.675291,3.454517,8.566799,5.328930,8.407461,3.864728,...,23.702442,26.058992,1.392501,1.558466,1.585386,1.525535,3.812050,3.814657,3.817237,3.819791

In [33]:
GDP_data=GDP_data.fillna(0)

In [34]:
# Transpose Data
GDP_data=pd.melt(GDP_data, id_vars=['Country'], value_vars=['Q1-2005', 'Q2-2005', 'Q3-2005', 'Q4-2005', 'Q1-2006', 'Q2-2006', 'Q3-2006', 'Q4-2006', 'Q1-2007', 'Q2-2007', 'Q3-2007', 'Q4-2007', 'Q1-2008', 'Q2-2008', 'Q3-2008', 'Q4-2008', 'Q1-2009', 'Q2-2009', 'Q3-2009', 'Q4-2009', 'Q1-2010', 'Q2-2010', 'Q3-2010', 'Q4-2010', 'Q1-2011', 'Q2-2011', 'Q3-2011', 'Q4-2011', 'Q1-2012', 'Q2-2012', 'Q3-2012', 'Q4-2012', 'Q1-2013', 'Q2-2013', 'Q3-2013', 'Q4-2013', 'Q1-2014', 'Q2-2014', 'Q3-2014', 'Q4-2014', 'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015', 'Q1-2016', 'Q2-2016', 'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017', 'Q3-2017', 'Q4-2017', 'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018', 'Q1-2019', 'Q2-2019', 'Q3-2019', 'Q4-2019', 'Q1-2020', 'Q2-2020', 'Q3-2020', 'Q4-2020'], var_name='Year/Month', value_name='Quantifier')
GDP_data.head()

     Country Year/Month  Quantifier
0  Australia    Q1-2005    3.278530
1    Austria    Q1-2005    0.616499
2    Belgium    Q1-2005    2.121679
3     Canada    Q1-2005    1.391469
4      Chile    Q1-2005   -0.152484

In [35]:
#Unemployment
Unemployment_data = pd.read_excel('DV_Data_Master.xlsx','Unemployment')
Unemployment_data=Unemployment_data.drop(columns = ['Unit'])
Unemployment_data.head()

,Country,Q1-2005,Q2-2005,Q3-2005,Q4-2005,Q1-2006,Q2-2006,Q3-2006,Q4-2006,Q1-2007,...,Q3-2020,Q4-2020,Q1-2021,Q2-2021,Q3-2021,Q4-2021,Q1-2022,Q2-2022,Q3-2022,Q4-2022
0,Australia,5.085689,5.044552,4.974015,5.026490,5.010765,4.849099,4.720179,4.554108,4.527852,...,7.064187,7.933601,7.994654,8.141967,7.902650,7.689369,7.554796,7.420027,7.285061,7.149898
1,Austria,5.180211,5.756603,5.797912,5.766517,5.534874,5.352041,5.062233,5.024710,4.821900,...,5.837845,6.495664,6.682300,5.747253,5.182865,4.898981,4.898981,4.993798,5.183053,5.277493
2,Belgium,8.466667,8.500000,8.500000,8.433333,8.566667,8.666667,7.900000,7.933333,7.833333,...,5.370774,7.421116,8.074727,8.166652,7.890876,7.614272,7.290599,6.965791,6.639845,6.312758
3,Canada,6.959286,6.836001,6.686714,6.526498,6.456307,6.190161,6.422537,6.165154,6.183412,...,10.026525,9.135699,9.003294,8.849681,8.670779,8.462103,8.218236,7.932358,7.596455,7.200883
4,Chile,9.542945,9.768707,9.428812,8.884000,8.748423,8.662890,7.643961,6.722231,7.006145,...,11.980307,11.559161,10.786377,9.907425,9.461422,9.010981,8.829908,8.648475,8.648475,8.648475

In [36]:
Unemployment_data=Unemployment_data.fillna(0)

In [37]:
# Transpose Data
Unemployment_data=pd.melt(Unemployment_data, id_vars=['Country'], value_vars=['Q1-2005', 'Q2-2005', 'Q3-2005', 'Q4-2005', 'Q1-2006', 'Q2-2006', 'Q3-2006', 'Q4-2006', 'Q1-2007', 'Q2-2007', 'Q3-2007', 'Q4-2007', 'Q1-2008', 'Q2-2008', 'Q3-2008', 'Q4-2008', 'Q1-2009', 'Q2-2009', 'Q3-2009', 'Q4-2009', 'Q1-2010', 'Q2-2010', 'Q3-2010', 'Q4-2010', 'Q1-2011', 'Q2-2011', 'Q3-2011', 'Q4-2011', 'Q1-2012', 'Q2-2012', 'Q3-2012', 'Q4-2012', 'Q1-2013', 'Q2-2013', 'Q3-2013', 'Q4-2013', 'Q1-2014', 'Q2-2014', 'Q3-2014', 'Q4-2014', 'Q1-2015', 'Q2-2015', 'Q3-2015', 'Q4-2015', 'Q1-2016', 'Q2-2016', 'Q3-2016', 'Q4-2016', 'Q1-2017', 'Q2-2017', 'Q3-2017', 'Q4-2017', 'Q1-2018', 'Q2-2018', 'Q3-2018', 'Q4-2018', 'Q1-2019', 'Q2-2019', 'Q3-2019', 'Q4-2019', 'Q1-2020', 'Q2-2020', 'Q3-2020', 'Q4-2020'], var_name='Year/Month', value_name='Quantifier')
Unemployment_data.head()

     Country Year/Month  Quantifier
0  Australia    Q1-2005    5.085689
1    Austria    Q1-2005    5.180211
2    Belgium    Q1-2005    8.466667
3     Canada    Q1-2005    6.959286
4      Chile    Q1-2005    9.542945

### Impact By Industry

In [38]:
industry_data = pd.read_excel('DV_Data_Master.xlsx','Sector')
industry_data.head()

,Country Code,Country Description,Table Code,Table Description,ISIC,ISIC Description,ISIC Combination,Table Definition Code,2005 M01,2005 M02,...,2020 M01,2020 M02,2020 M03,2020 M04,2020 M05,2020 M06,2020 M07,2020 M08,2020 M09,2020 M10
0,40,Austria,51,Seasonally adjusted index(2015=100),10,Food products,10,51.0,88.0,89.0,...,109.0,108.0,107.0,94.0,99.0,105.0,109.0,106.0,107.0,NaN
1,40,Austria,51,Seasonally adjusted index(2015=100),11,Beverages,11,51.0,86.0,86.0,...,110.0,110.0,100.0,79.0,88.0,91.0,99.0,104.0,106.0,NaN
2,40,Austria,51,Seasonally adjusted index(2015=100),12,Tobacco products,12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40,Austria,51,Seasonally adjusted index(2015=100),13,Textiles,13,51.0,107.0,109.0,...,112.0,112.0,112.0,90.0,98.0,104.0,109.0,126.0,116.0,NaN
4,40,Austria,51,Seasonally adjusted index(2015=100),14,Wearing apparel,14,51.0,194.0,175.0,...,85.0,83.0,74.0,70.0,70.0,68.0,70.0,61.0,66.0,NaN

In [39]:
industry_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072 entries, 0 to 2071
Columns: 198 entries, Country Code to 2020 M10
dtypes: float64(191), int64(2), object(5)
memory usage: 3.1+ MB

In [40]:
print(industry_data.columns)

Index(['Country Code', 'Country Description', 'Table Code',
       'Table Description', 'ISIC', 'ISIC Description', 'ISIC Combination',
       'Table Definition Code', '2005 M01', '2005 M02',
       ...
       '2020 M01', '2020 M02', '2020 M03', '2020 M04', '2020 M05', '2020 M06',
       '2020 M07', '2020 M08', '2020 M09', '2020 M10'],
      dtype='object', length=198)

In [41]:
#Drop Columns 
industry_data=industry_data.drop(columns = ['Country Code', 'ISIC', 'ISIC Combination', 'Table Definition Code', 'Table Code', 'Table Description'])
# print(industry_data.columns)

# #Rename Columns
industry_data=industry_data.rename(columns = {'Country Description':'Country'})
industry_data=industry_data.rename(columns = {'ISIC Description':'Sector'})

# print(industry_data.columns)
industry_data.head()

,Country,Sector,2005 M01,2005 M02,2005 M03,2005 M04,2005 M05,2005 M06,2005 M07,2005 M08,...,2020 M01,2020 M02,2020 M03,2020 M04,2020 M05,2020 M06,2020 M07,2020 M08,2020 M09,2020 M10
0,Austria,Food products,88.0,89.0,90.0,88.0,90.0,90.0,90.0,91.0,...,109.0,108.0,107.0,94.0,99.0,105.0,109.0,106.0,107.0,NaN
1,Austria,Beverages,86.0,86.0,92.0,89.0,91.0,89.0,88.0,89.0,...,110.0,110.0,100.0,79.0,88.0,91.0,99.0,104.0,106.0,NaN
2,Austria,Tobacco products,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,Textiles,107.0,109.0,112.0,110.0,108.0,107.0,104.0,106.0,...,112.0,112.0,112.0,90.0,98.0,104.0,109.0,126.0,116.0,NaN
4,Austria,Wearing apparel,194.0,175.0,174.0,175.0,170.0,161.0,180.0,175.0,...,85.0,83.0,74.0,70.0,70.0,68.0,70.0,61.0,66.0,NaN

In [42]:
#Fill NA with 0 
industry_data=industry_data.fillna(0)

In [43]:
#type of variables
print(industry_data.dtypes)

array =['2005 M01', '2005 M02', '2005 M03', '2005 M04', '2005 M05', '2005 M06', '2005 M07', '2005 M08', '2005 M09', '2005 M10', '2005 M11', '2005 M12', '2006 M01', '2006 M02', '2006 M03', '2006 M04', '2006 M05', '2006 M06', '2006 M07', '2006 M08', '2006 M09', '2006 M10', '2006 M11', '2006 M12', '2007 M01', '2007 M02', '2007 M03', '2007 M04', '2007 M05', '2007 M06', '2007 M07', '2007 M08', '2007 M09', '2007 M10', '2007 M11', '2007 M12', '2008 M01', '2008 M02', '2008 M03', '2008 M04', '2008 M05', '2008 M06', '2008 M07', '2008 M08', '2008 M09', '2008 M10', '2008 M11', '2008 M12', '2009 M01', '2009 M02', '2009 M03', '2009 M04', '2009 M05', '2009 M06', '2009 M07', '2009 M08', '2009 M09', '2009 M10', '2009 M11', '2009 M12', '2010 M01', '2010 M02', '2010 M03', '2010 M04', '2010 M05', '2010 M06', '2010 M07', '2010 M08', '2010 M09', '2010 M10', '2010 M11', '2010 M12', '2011 M01', '2011 M02', '2011 M03', '2011 M04', '2011 M05', '2011 M06', '2011 M07', '2011 M08', '2011 M09', '2011 M10', '2011 M11', '2011 M12', '2012 M01', '2012 M02', '2012 M03', '2012 M04', '2012 M05', '2012 M06', '2012 M07', '2012 M08', '2012 M09', '2012 M10', '2012 M11', '2012 M12', '2013 M01', '2013 M02', '2013 M03', '2013 M04', '2013 M05', '2013 M06', '2013 M07', '2013 M08', '2013 M09', '2013 M10', '2013 M11', '2013 M12', '2014 M01', '2014 M02', '2014 M03', '2014 M04', '2014 M05', '2014 M06', '2014 M07', '2014 M08', '2014 M09', '2014 M10', '2014 M11', '2014 M12', '2015 M01', '2015 M02', '2015 M03', '2015 M04', '2015 M05', '2015 M06', '2015 M07', '2015 M08', '2015 M09', '2015 M10', '2015 M11', '2015 M12', '2016 M01', '2016 M02', '2016 M03', '2016 M04', '2016 M05', '2016 M06', '2016 M07', '2016 M08', '2016 M09', '2016 M10', '2016 M11', '2016 M12', '2017 M01', '2017 M02', '2017 M03', '2017 M04', '2017 M05', '2017 M06', '2017 M07', '2017 M08', '2017 M09', '2017 M10', '2017 M11', '2017 M12', '2018 M01', '2018 M02', '2018 M03', '2018 M04', '2018 M05', '2018 M06', '2018 M07', '2018 M08', '2018 M09', '2018 M10', '2018 M11', '2018 M12', '2019 M01', '2019 M02', '2019 M03', '2019 M04', '2019 M05', '2019 M06', '2019 M07', '2019 M08', '2019 M09', '2019 M10', '2019 M11', '2019 M12', '2020 M01', '2020 M02', '2020 M03', '2020 M04', '2020 M05', '2020 M06', '2020 M07', '2020 M08', '2020 M09', '2020 M10']
industry_data[array] = industry_data[array].astype(int)

print(industry_data.dtypes)

Country      object
Sector       object
2005 M01    float64
2005 M02    float64
2005 M03    float64
             ...
2020 M06    float64
2020 M07    float64
2020 M08    float64
2020 M09    float64
2020 M10    float64
Length: 192, dtype: object
Country     object
Sector      object
2005 M01     int64
2005 M02     int64
2005 M03     int64
             ...
2020 M06     int64
2020 M07     int64
2020 M08     int64
2020 M09     int64
2020 M10     int64
Length: 192, dtype: object

In [44]:
#Information on country
industry_data.Country.nunique()

37

In [45]:
industry_data.Country.unique()

array(['Austria', 'Belgium', 'Brazil', 'Canada', 'Chile', 'Colombia',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'India', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico',
       'Netherlands', 'Norway', 'Poland', 'Portugal', 'Republic of Korea',
       'Russian Federation', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom',
       'United States of America'], dtype=object)

In [46]:
#Information on Sector
industry_data.Sector.unique()

array(['Food products', 'Beverages', 'Tobacco products', 'Textiles',
       'Wearing apparel', 'Leather and related products',
       'Wood products, excluding furniture', 'Paper and paper products',
       'Printing and reproduction of recorded media',
       'Coke and refined petroleum products',
       'Chemicals and chemical products',
       'Pharmaceuticals,medicinal chemicals, etc.',
       'Rubber and plastics products',
       'Other non-metallic mineral products', 'Basic metals',
       'Fabricated metal products, except machinery',
       'Computer, electronic and optical products',
       'Electrical equipment', 'Machinery and equipment n.e.c.',
       'Motor vehicles, trailers and semi-trailers',
       'Other transport equipment', 'Furniture', 'Other manufacturing',
       'Repair and installation of machinery/equipment',
       'Mining and quarrying', 'Total manufacturing',
       'Electricity, gas, steam & air conditioning',
       'Water supply; sewerage, waste management'], dtype=object)

In [47]:
#Max and min of categories
print('--minimum by Year/Month')
print(industry_data[array].min())

print('--maximum by Year/Month')
print(industry_data[array].max())

--minimum by Year/Month
2005 M01    0
2005 M02    0
2005 M03    0
2005 M04    0
2005 M05    0
           ..
2020 M06    0
2020 M07    0
2020 M08    0
2020 M09    0
2020 M10    0
Length: 190, dtype: int64
--maximum by Year/Month
2005 M01    2500
2005 M02    2542
2005 M03    2665
2005 M04    2640
2005 M05    2667
            ...
2020 M06     247
2020 M07     246
2020 M08     248
2020 M09     255
2020 M10     202
Length: 190, dtype: int64

In [48]:
# Transpose Data
industry_data=pd.melt(industry_data, id_vars=['Country', 'Sector'], value_vars=['2005 M01', '2005 M02', '2005 M03', '2005 M04', '2005 M05', '2005 M06', '2005 M07', '2005 M08', '2005 M09', '2005 M10', '2005 M11', '2005 M12', '2006 M01', '2006 M02', '2006 M03', '2006 M04', '2006 M05', '2006 M06', '2006 M07', '2006 M08', '2006 M09', '2006 M10', '2006 M11', '2006 M12', '2007 M01', '2007 M02', '2007 M03', '2007 M04', '2007 M05', '2007 M06', '2007 M07', '2007 M08', '2007 M09', '2007 M10', '2007 M11', '2007 M12', '2008 M01', '2008 M02', '2008 M03', '2008 M04', '2008 M05', '2008 M06', '2008 M07', '2008 M08', '2008 M09', '2008 M10', '2008 M11', '2008 M12', '2009 M01', '2009 M02', '2009 M03', '2009 M04', '2009 M05', '2009 M06', '2009 M07', '2009 M08', '2009 M09', '2009 M10', '2009 M11', '2009 M12', '2010 M01', '2010 M02', '2010 M03', '2010 M04', '2010 M05', '2010 M06', '2010 M07', '2010 M08', '2010 M09', '2010 M10', '2010 M11', '2010 M12', '2011 M01', '2011 M02', '2011 M03', '2011 M04', '2011 M05', '2011 M06', '2011 M07', '2011 M08', '2011 M09', '2011 M10', '2011 M11', '2011 M12', '2012 M01', '2012 M02', '2012 M03', '2012 M04', '2012 M05', '2012 M06', '2012 M07', '2012 M08', '2012 M09', '2012 M10', '2012 M11', '2012 M12', '2013 M01', '2013 M02', '2013 M03', '2013 M04', '2013 M05', '2013 M06', '2013 M07', '2013 M08', '2013 M09', '2013 M10', '2013 M11', '2013 M12', '2014 M01', '2014 M02', '2014 M03', '2014 M04', '2014 M05', '2014 M06', '2014 M07', '2014 M08', '2014 M09', '2014 M10', '2014 M11', '2014 M12', '2015 M01', '2015 M02', '2015 M03', '2015 M04', '2015 M05', '2015 M06', '2015 M07', '2015 M08', '2015 M09', '2015 M10', '2015 M11', '2015 M12', '2016 M01', '2016 M02', '2016 M03', '2016 M04', '2016 M05', '2016 M06', '2016 M07', '2016 M08', '2016 M09', '2016 M10', '2016 M11', '2016 M12', '2017 M01', '2017 M02', '2017 M03', '2017 M04', '2017 M05', '2017 M06', '2017 M07', '2017 M08', '2017 M09', '2017 M10', '2017 M11', '2017 M12', '2018 M01', '2018 M02', '2018 M03', '2018 M04', '2018 M05', '2018 M06', '2018 M07', '2018 M08', '2018 M09', '2018 M10', '2018 M11', '2018 M12', '2019 M01', '2019 M02', '2019 M03', '2019 M04', '2019 M05', '2019 M06', '2019 M07', '2019 M08', '2019 M09', '2019 M10', '2019 M11', '2019 M12', '2020 M01', '2020 M02', '2020 M03', '2020 M04', '2020 M05', '2020 M06', '2020 M07', '2020 M08', '2020 M09', '2020 M10'], var_name='Year/Month', value_name='Quantifier')

In [49]:
industry_data['Year/Month']=pd.to_datetime(industry_data['Year/Month'], format='%Y M%m')
industry_data.head()

   Country            Sector Year/Month  Quantifier
0  Austria     Food products 2005-01-01          88
1  Austria         Beverages 2005-01-01          86
2  Austria  Tobacco products 2005-01-01           0
3  Austria          Textiles 2005-01-01         107
4  Austria   Wearing apparel 2005-01-01         194

In [50]:
#Save File
writer = pd.ExcelWriter('DV_Data_Results.xlsx')
Import_Export_data.to_excel(writer, sheet_name='Import-Export', index=False)
Unemployment_data.to_excel(writer, sheet_name='Unemployment', index=False)
GDP_data.to_excel(writer, sheet_name='GDP', index=False)
industry_data.to_excel(writer, sheet_name='Sector', index=False)
writer.save()

### Societal Impact